body{
    font-family:Bookman Old Style;
    font-size:12px;
}
*{
 padding:0px;
 margin:0px;
}
#Maindiv{
    position:fixed;
    width:100%;
    height:700px;
    background-image:url(Images/WelcomeRider.jpg) ;
    background-size:cover;
}
#navdiv{
    opacity:10;
}
#navdiv ul{
    width:100%;
    height:200px;
    background:transparent;
    line-height:60px;
    color:#0000FF;
    margin-right:15px;
    position:relative;
}
#navdiv ul a{
    text-decoration:none;
    color:black;
    margin-right:40px;
    line-height:55px;
    padding:10px;
    font-size:12px; 
    text-shadow:0 0 3px  #0000FF ;   
}
#navdiv ul li{
    list-style-type:none;
    display:inline-block;
    float:right;
}

#navdiv ul li:hover{
    background:#0099FF;
    transition:all 0.40s;
}
#navdiv ul li:hover ul{
   display:block; 
}   
#navdiv ul ul{
    display:none;
    width:120px;
    height:20px;
    font-size:16px; 
    position:absolute;
} 
#navdiv ul li li{
   background:transparent;
   font-size:12px;
   text-shadow:0 0 3px #0000FF ;
   color:Black;
   font-family:Rockwell Extra Bold;
   display:block;
}
#navdiv ul li li a{
    padding:0px;
    color:Black;
}
#navdiv ul li li:hover{
    background : #0099FF; 
    transition:all 0.40s;
}
#navdiv h1{
    width:300px;
    float:left;
    cursor:pointer; 
    margin-left:15px;
}
.button {
    position: fixed;
    bottom: 5px;
    left: 2%;
    margin-left: -102.5px;
    display: inline-block;
    border-radius: 4px;
    background-color: #0099FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}