* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
        position:absolute;
        top:10%;
        left:50%;
        transform:translate(-50%,-50%);
        margin:0;
        padding:0;
        display:flex;
    }
    ul li
    {
        list-style:none;
        color:#FF0033;
        font-family:Mistral;
        font-size:10ex;
        letter-spacing:15px;
        animation:animate 1.4s linear infinite;
    }
    @keyframes animate
    {
        0%
        {
            color:#0000CC;
            text-shadow:none;
        }
        90%
        {
            color:#CC0000;
            text-shadow:none;
        }
        100%
        {
            color:#CC0000;
            text-shadow:0 0 7px #CC0000,0 0 50px #ff6c00;
        }
    }
    ul li:nth-child(0)
    {
        animation-delay:2s;
    }
    
    ul li:nth-child(1)
    {
        animation-delay:.2s;
    }
    
    ul li:nth-child(2)
    {
        animation-delay:.4s;
    }
    
    ul li:nth-child(3)
    {
        animation-delay:.6s;
    }
    
    ul li:nth-child(4)
    {
        animation-delay:.8s;
    }
    
    ul li:nth-child(5)
    {
        animation-delay:1s;
    }
    
    ul li:nth-child(6)
    {
        animation-delay:1.2s;
    }
     ul li:nth-child(7)
    {
        animation-delay:1.2s;
    }
     ul li:nth-child(8)
    {
        animation-delay:1.2s;
    }
     ul li:nth-child(9)
    {
        animation-delay:1.2s;
    }
     ul li:nth-child(10)
    {
        animation-delay:1.2s;
    }
.gallery {
 padding: 100px;
 }
.gallery > div {
  position: relative;
  float: left;
  padding: 50px;
}
.gallery > div > img {
  display: block;
  width: 400px;
  transition: 0.5s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 5;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7) ;
  transition: 1s transform ;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.button {
  position: relative;
  top: 4225px;
  left: 2%;
  margin-left: -102.5px;
  display: inline-block;
  border-radius: 4px;
  background-color: #990000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 14px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}